.parentContainer {
  overflow: hidden;
  border-radius: 15px;
  max-height: 300px;
}

.thumbnail {
  flex: 2;
  background-color: black;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.rightContainer {
  flex: 5;
}
