* {
  font-family: 'Monsterrat', sans-serif;
}

.soft-card {
  flex: 1;
  min-width: 400;
  box-sizing: border-box;
  min-height: 250px;
  max-height: 300px;
  border-radius: 15px;
}

.header h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.5em;
  font-weight: 800;
}

.header img {
  width: 40px;
  height: 40px;
}

.data-container h1 {
  line-height: 1;
  margin: 0;
  font-size: 4em;
  font-weight: 600;

}

.data-container p {
  line-height: 1;
  padding-top: 10px;
  margin: 0;
  color: grey;
}
